PageCacher/Properties/launchSettings.json
PageCacher/obj/Debug/net8.0/ref/PageCacher.dll
PageCacher/obj/Debug/net8.0/PageCacher.sourcelink.json
PageCacher/obj/Debug/net8.0/PageCacher.pdb
PageCacher/obj/Debug/net8.0/PageCacher.dll
PageCacher/obj/Debug/net8.0/PageCacher.AssemblyInfoInputs.cache
PageCacher/obj/Debug/net8.0/PageCacher.AssemblyInfo.cs
PageCacher/bin/Debug/net8.0/PageCacher.pdb
PageCacher/bin/Debug/net8.0/PageCacher.dll
/.vs
/PageCacher/bin/Debug/net8.0
/PageCacher/obj/Release/net8.0
/PageCacher/obj/Debug/net8.0/ref/PageCacher.dll
/PageCacher/obj/Debug/net8.0/refint/PageCacher.dll
/PageCacher/obj/Debug/net8.0/apphost.exe
/PageCacher/obj/Debug/net8.0/PageCacher.AssemblyInfo.cs
/PageCacher/obj/Debug/net8.0/PageCacher.AssemblyInfoInputs.cache
/PageCacher/obj/Debug/net8.0/PageCacher.assets.cache
/PageCacher/obj/Debug/net8.0/PageCacher.csproj.BuildWithSkipAnalyzers
/PageCacher/obj/Debug/net8.0/PageCacher.csproj.CoreCompileInputs.cache
/PageCacher/obj/Debug/net8.0/PageCacher.csproj.FileListAbsolute.txt
/PageCacher/obj/Debug/net8.0/PageCacher.GeneratedMSBuildEditorConfig.editorconfig
/PageCacher/obj/Debug/net8.0/PageCacher.genruntimeconfig.cache
/PageCacher/obj/PageCacher.csproj.nuget.dgspec.json
/PageCacher/obj/PageCacher.csproj.nuget.g.props
/PageCacher/obj/project.assets.json
/PageCacher/obj/project.nuget.cache
/PageCacher/bin/Release/net8.0
/PageCacher/PageCacher.csproj.user
/PageCacher/Properties/PublishProfiles
/PageCacher/bin/Debug
/PageCacher/obj/Debug
/PageCacher/obj
