PageCacher/Properties/launchSettings.json
PageCacher/obj/Debug/net8.0/ref/PageCacher.dll
PageCacher/obj/Debug/net8.0/PageCacher.sourcelink.json
PageCacher/obj/Debug/net8.0/PageCacher.pdb
PageCacher/obj/Debug/net8.0/PageCacher.dll
PageCacher/obj/Debug/net8.0/PageCacher.AssemblyInfoInputs.cache
PageCacher/obj/Debug/net8.0/PageCacher.AssemblyInfo.cs
PageCacher/bin/Debug/net8.0/PageCacher.pdb
PageCacher/bin/Debug/net8.0/PageCacher.dll
